html,
body {
  height: 100%;
  position: relative;
  font-family: Oswald;
}

.main-container {
  min-height:100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

.resilience {
  height: 100%;
  width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  font-family: Oswald;
}

.footer, .push {
  height: 4em;
  font-size: 10pt;
  color: #575757;
  text-align: center;
  
}

a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #686868;
}

text {
  color: black;
  font-size: 5pt;
}

h1 {
  color: black;
  font-family: Oswald thin;
  font-size: 20pt;
  text-align: center;
}

img {
  opacity: 0.5;
  filter: grayscale(100%);
  display: block;
  margin: 0 auto;
}

.header {
  text-align: center;
  padding: 10px;
  position: relative;
  top: 0;
}

/* The navbar container */
.topnav {
  width: 100%;
  overflow: auto;
  padding: 5px 5px;
  background-color: #fff;
  margin-left: -15px;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: #000;
  padding: 5px 5px;
  text-decoration: none;
  width: 20%; /* Five links of equal widths */
  text-align: center;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: #eee;
  color: #000;
}

.container {
  position: relative;
  display: inline-block;
  width: 20%;
  margin: auto;
  border: 0px;
  padding: 25px;
}

.dashboard {
  position: relative;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.about {
  background-color: #f7f7f7;
  border-radius: 25px;
  position: relative;
  width: 500px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  font-size: 10pt;
}

.cv {
  background-color: #f7f7f7;
  border-radius: 25px;
  position: relative;
  width: 800px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  font-size: 10pt;
}

#map { 
  position:relative; 
  top:0; 
  bottom:0; 
  width:700px; 
  height: 200px;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
}

.overlay {
  position: absolute;
  top: 25px;
  bottom: 25px;
  left: 25px;
  right: 25px;
  height: "auto";
  width: "auto";
  opacity: 0;
  transition: .5s ease;
  background-color: #fff;
}

.container:hover .overlay {
  opacity: 70%;
}

.button {
  background-color: #ffffff;
  cursor: initial;
  pointer-events: none;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 16px;
}

.text {
  color: black;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.responsive {
  float: left;
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

  @media screen and (max-width: 992px) {
    .main-container {
      width: 250px;
      margin-left: 0px;
      margin-right: 0px;}
    
      .container {
        width: 30%;
        padding: 10px;
        position: relative;}

        .dashboard {
          width: 600;
          padding: 0px;
          position: relative;
          margin: auto;
        }

     .cv {
        width:500px;}
      #map { 
        width:400px; 
        height: 150px;}
    }


  @media screen and (max-width: 600px) {
    .container {
      width: 500px;
      padding: 25px;
    }

    .dashboard {
      width: 90%;
      padding: 0px;
      margin: auto;
    }

    #map { 
      display: none;}

    .cv {
      width:300px; 
      }

    .about {
      width:300px; 
      padding: 20px;
     }
  }

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}