html {
  font-family: Lato;
  background-color: #ffffff;
}

body {
  color: black;
}

a {
  color: black;
}

text {
  color: black;
  font-size: 5pt;
}

h1 {
  font-family: Lato black;
  color: black;
  text-align: center;
}

img {
  opacity: 0.5;
  filter: grayscale(100%);
  display: block;
  margin: 0 auto;
}

img:hover {
  opacity: 1.0;
}

.header {
  text-align: center;
  padding: 10px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

/* The navbar container */
.topnav {
  width: 100%;
  overflow: auto;
  background-color: #fff;
  margin-left: 0px;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: #fff;
  padding: 0px;
  text-decoration: none;
  width: 20%; /* Four links of equal widths */
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: #fff;
  color: black;
}

.container {
  position: relative;
  display: inline-block;
  width: 20%;
  margin: auto;
  border: 0px;
  padding: 25px;
}

.row {
  position: relative;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: "auto";
  width: "auto";
  opacity: 0;
  transition: .5s ease;
  background-color: #ffffff;
}

.container:hover .overlay {
  opacity: 70%;
}

.text {
  color: black;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}